.home-cards {
  h2 {
    padding-left: map-get($padding, large);
    margin: auto;
  }
  &__cards {
    margin: map-get($margin, large) auto;
  }
  a {
    display: block;
    margin: map-get($margin, large) auto;
    padding: 0;
    width: fit-content;
    color: map-get($color, font-color);
    border-radius: map-get($radius, medium);
    &:hover {
      box-shadow: map-get($shadow, cards);
    }
    figure {
      border-radius: map-get($radius, medium);
      width: map-get($img, width);
      overflow: hidden;
      background-color: map-get($color, card-background);
      box-shadow: map-get($shadow, light);
      position: relative;
      figcaption {
        padding: map-get($padding, medium);
        display: flex;
        position: relative;
        div {
          flex: 1;
          h3 {
            margin-bottom: map-get($margin, xsmall);
          }
        }
      }
    }
  }
  
}

@media (min-width: 768px) {
  .home-cards {
    &__cards {
      columns: 2;
    }
  }
}
