footer {
  padding: map-get($padding, large);
  background-color: map-get($color, footer-background);
  .fa-ul {
    margin: auto map-get($padding, large);
  }
  li {
    margin: map-get($margin, small) auto;
  }
  .__links {
    &--no-list-style-type {
      list-style-type: none;
    }
  }
  a {
    cursor: pointer;
    color: map-get($color, font-color-alt);
    &:hover {
      text-decoration: underline;
    } 
  }
}

@media (min-width: 500px) {
  footer {
    .footer-logo {
      display: block;
      text-align: center;
    }
    .__links {
      display: flex;
      justify-content: space-around;
    }
  }
}

@media (min-width: 768px) {
  footer {
    a {
      &.footer-logo {
        font-size: map-get($font-size, heading);
      }
    }
    ul {
    display: flex;
    flex: auto;
    justify-content: space-around;
  }
  }
  
}