$fa-font-path: "../css/fonts/font-awesome/webfonts";

$font-size: (
  root: 13px,
  logo: 1.85rem,
  footer-logo: 1.155rem,
  heading: 1.385rem,
  small: 0.92308rem
);

$font-weight: (
  bold: 600,
  normal: 500,
  light: 300
)