$fa-font-path: "../css/fonts/font-awesome/webfonts";

$font-size: (
  large-logo: 2.5rem,
  fa: 2rem,
  root: 13px,
  logo: 1.85rem,
  footer-logo: 1.155rem,
  heading: 1.385rem,
  large: 1.15rem,
  small: 0.92308rem,
  xsmall: 0.77rem
);

$font-weight: (
  bold: 600,
  normal: 500
);

$margin: (
  xl: 2.077rem,
  large: 1.69rem,
  medium: 1rem,
  small: 0.69rem,
  xsmall: 0.4rem,
  dish-strong: auto 1rem auto auto
);

$padding: (
  xl: 1.923rem,
  large: 1.5385rem,
  medium: 1.077rem,
  small: 0.77rem,
  xsmall: 0.5rem
);

$color: (
  primary: #9356DC,
  secondary: #FF79DA,
  tertiary: #99E2D0,
  restaurants-background: #f6f6f6,
  operation-list: #f6f6f6,
  card-background: white,
  location: #eaeaea,
  button: linear-gradient(to right bottom, #FF79DA, #9356DC),
  heart: linear-gradient(to top, #FF79DA, #9356DC),
  footer-background: #353535,
  font-color-alt: white,
  font-color: black
);

$radius: (
  xl: 3rem,
  large: 1.923rem,
  xm: 1.077rem,
  medium: 1rem,
  xsmall: 0.2rem
);

$img: (
  width: 25.77rem,
  height: 13.385rem
);

$shadow: (
  light: 0 0.385rem 0.7rem lightgray,
  medium: 0 0.3rem 0.7rem darken(lightgray, 30),
  main: (1rem 0 1rem -1rem darken(lightgray, 30), -1rem 0 1rem -1rem darken(lightgray, 30))
);

$clip-path: (
  main: inset(0 -1rem 0 -1rem)
);

$heart: (
  base: 1.5rem,
  lobe: 0.75rem
);

$operation-guide: (
  bullet-size: 1.5rem,
  li-width-medium: 24.77rem,
  li-width-small: 20rem,
  li-width-xsmall: 16rem,
  li-height: 5.38rem
);

$location: (
  input-width: calc(50% + 35px)
);

$motto: (
  title-width: 15rem,
  subtitle-width: 20rem
);

$line-height: (
  resto-li: 1.5rem
);

$anim-dur: (
  xlong: 4s,
  long: 2s,
  medium: 1s,
  short: 0.5s,
  xshort: 0.4s
);

$anim-delay: 0.1s;

$main-width: (
  small: 38rem,
  medium: 57rem,
  large: 76rem,
  xl: 88rem
);