.heading-location {
  background-color: map-get($color, location);
  box-shadow: 0 8px 6px -8px darken(map-get($color, location), 30) inset;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  input {
    background-color: transparent;
    border: unset;
    padding: map-get($padding, medium);
    width: map-get($location, input-width);
  }
}