.heading {
  &__location-input {
    background-color: map-get($color, location);
    box-shadow: 0 8px 6px -8px darken(map-get($color, location), 30) inset;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: all 0.4s ease-in-out;
    position: relative;
    opacity: 99%;
    &:hover::before {
      content: "";
      box-shadow: map-get($shadow, location);
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    input {
      background-color: transparent;
      border: none;
      padding: map-get($padding, medium);
      width: map-get($location, input-width);
    }
  }
  &__map {
      border: map-get($location, map-border);
      border-radius: map-get($radius, medium);
      box-shadow: map-get($shadow, medium);
      width: 20vw;
      height: 20vh;
      display: none;
    }
}

@media (min-width: 1024px) {
  .heading__large {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .heading {
      &__location {
        order: 2;
      }
      &__location-input {
        border-radius: map-get($radius, large);
        &:hover::before {
          border-radius: map-get($radius, large);
        }
      }
      &__map {
        margin: map-get($margin, xsmall) auto;
        display: block;
        object-fit: cover;
        object-position: center;
      }
      &-motto {
        order: 1;
      }
    }
  }
}