.heading__motto {
  padding: map-get($padding, medium);
  h1, p {
    margin-left: auto;
    margin-right: auto;
  }
  h1 {
    max-width: map-get($motto, title-width);
  }
  p {
    max-width: map-get($motto, subtitle-width);
  }
}

@media (min-width: 768px) {
  .heading__motto {
    h1, p {
      max-width: unset;
    }
  }
}

@media (min-width: 1024px) {
  .heading__motto {
    h1, p {
      text-align: left;
      margin-left: unset;
    }
  }
}