@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular.ttf') format('truetype');  
}

@font-face {
  font-family: 'Shrikhand';
  src: url('fonts/Shrikhand-Regular.ttf') format('truetype');
}

html, body {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: map-get($font-weight, normal);
  font-size: map-get($font-size, root);
}

.header-logo, .footer-logo, .resto h1 {
  font-family: 'Shrikhand', Arial, sans-serif;
  font-weight: map-get($font-weight, normal);
}

.header-logo, .resto h1 {
  font-size: map-get($font-size, logo);
}

.footer-logo {
    font-size: map-get($font-size, footer-logo);
}

.heading__location input, button, footer a {
  font-size: map-get($font-size, small);
}

h1, h2 {
  font-size: map-get($font-size, heading);
}

article h2 {
  font-weight: map-get($font-weight, normal);
}

button, .operation li {
  font-weight: map-get($font-weight, bold);
}

a, a:visited {
  color: map-get($color, font-color);
  text-decoration: unset;
}

.footer-logo, .footer-logo:visited {
  color: map-get($color, font-color-alt);
}

header, .heading, .operation li {
  text-align: center;
}

@media (min-width: 1024px) {
  html, body {
    font-size: 16px;
  }
  .heading__location input, button, footer a {
    font-size: map-get($font-size, large);
  }
}

@media (min-width: 1600px) {
  html, body {
    font-size: 18px;
  }
  .heading__location input, button, footer a {
    font-size: map-get($font-size, heading);
  }
}