h1 > i {
  margin: auto map-get($margin, small);
  font-size: map-get($font-size, fa);
  transition: all 1s;
  position: absolute;
  right: map-get($margin, xl);
  &.far {
    z-index: 1;
    background-color: map-get($color, restaurants-background);
  }
  &.far:hover {
    color: transparent;
    background-color: unset;
  }
  &.fas {
    background: map-get($color, heart);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.resto {
  background-color: map-get($color, restaurants-background);
  padding-bottom: map-get($padding, xl);
  .__image {
    width: 100%;
    min-height: 20rem;
    background-size: cover;
    &--note-enchantee {
    background-position: 50% 45%;
    background-image: url(../../images/restaurants/la-note-enchantee.jpg);
    }
    &--palette-du-gout {
    background-position: 50% 0%;
    background-image: url(../../images/restaurants/la-palette-du-gout.jpg);
    }
    &--francaise {
    background-position: 50% 0%;
    background-image: url(../../images/restaurants/a-la-francaise.jpg);
    }
    &--delice-des-sens {
    background-position: 50% 47%;
    background-image: url(../../images/restaurants/le-delice-des-sens.jpg);
    }
  }
  section {
    border-radius: 3rem 3rem 0 0;
    background-color: map-get($color, restaurants-background);
    padding: map-get($padding, xl) map-get($padding, medium);
    margin-top: map-get($margin, xxl) * -1;
  }
  img {
    width: 100%;
    transform: scale(1.1);
    transform-origin: top;
  }
  h1 {
    margin: auto;
    padding: 0 map-get($padding, xl) * 3 0 0;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    position: relative;
  }
  h2 {
    /* padding: 0 map-get($padding, large); */
    position: relative;
    margin: map-get($margin, large) auto;
    &::before {
      content: "____";
      top: map-get($padding, xsmall);
      font-size: map-get($font-size, logo);
      font-weight: map-get($font-weight, bold);
      color: map-get($color, tertiary);
      position: absolute;
    }
  }
}

@media (min-width: 768px) {
  .resto {
    h1 {
      margin-left: map-get($margin, xxl);
    }
    h2 {
      text-align: center;
      padding: unset;
    }
    .__image {
      min-height: 30rem;
    }
  }
}

@media (min-width: 1024px) {
  .resto {
    .__image {
      &--note-enchantee {
        background-position: 50% 60%;
        }
      &--palette-du-gout {
        background-position: 50% 50%;
        }
      &--francaise, &--delice-des-sens {
        background-position: 50% 90%;
      }
    }
  }
}